                
                :root{
                    --dark-blue-color:#19283f;
                    --bright-teal-color: #33d1cc;
                    --red-color: #ff3150;
                    --yellow-color: #ffc400;
                    --section-color: #eff7fa;
                
                }
                
                body{
                    font-family: "Roboto", sans-serif;
                    /* background-color: var(--dark-color);
                    height: 1000rem; */
                }
                

                /* Utility Classes */

                .text-dark-blue{
                    color: var(--dark-blue-color);
                }
                .bg-dark-blue{
                    background-color:var(--dark-blue-color) ;
                }
                

                .text-bright-teal{
                    color: var(--bright-teal-color);
                }
                .bg-bright-teal{
                    background-color: var(--bright-teal-color);
                }


                .text-yellow{
                    color: var(--yellow-color);
                }
                .bg-yellow{
                    background-color: var(--yellow-color);
                }


                .bg-red{
                    background-color: var(--red-color);
                }

                .text-section{
                    color: var(--section-color);

                }
                .bg-section{
                    background-color: var(--section-color);
                }

                .custom-border-left{
                    border-left: 2px solid var(--bright-teal-color);

                }

                

                .navbar{
                    height: 6rem;
                }


                .custom-nav-link{
                    font-weight: bold;
                    color: white;
                }
                
                .custom-nav-link.active , .custom-nav-link:is(:focus,:hover){
                    color: var(--bright-teal-color);
                }



                .custom-btn{
                    display: inline-block;
                    background-color: var(--red-color);
                    color: var(--yellow-color);
                    padding: 0.5rem 1rem;
                    border-radius: 2rem;
                    text-decoration: none;
                    transition: all 0.5s;
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                 }
                .custom-btn:hover{
                    color: var(--dark-blue-color);
                    padding: 0.55rem 1.30rem;
                } 


                figure{margin: 0;}

              
       
                
                
                
                
                






                
                
                
                /* Media Queries */
                
                
                @media (max-width: 992px) { 
                
                 
                    .navbar-toggler:hover .fa-bars{
                        color: var(--bright-teal-color);
                    }
                    .navbar-toggler:hover{
                        box-shadow: none;
                        border: 1px solid var(--bright-teal-color);

                    }
                    .navbar-toggler[aria-expanded="true"] {
                        border: 1px solid var(--bright-teal-color);
                    }
                    .navbar-toggler[aria-expanded="true"] .fa-bars{
                        color: var(--bright-teal-color);
                    }
                    
                    
                   
                   
                    
                    .navbar-collapse{
                        text-align: center;
                        margin-top: 1rem;
                        transition: all ease-in-out 1s;
                        
                    }
                    .navbar-collapse .navbar-nav{
                        gap: 20px;
                        
                
                    }
                    .navbar-collapse .navbar-nav .nav-item:hover{
                        border: 1px solid #ddd;
                        
                    }
                    .navbar-collapse .navbar-nav .nav-item{
                        font-size: 1.2rem;
                        letter-spacing: 2px;
                    }
                    
                    .navbar-collapse .search{
                        display: none;
                    }
                
                    .navbar-collapse .custom-btn{
                        display: none;
                    }
                
                }
                
                
                
                    









                
                /* Landing */
                
                
                .landing{
                    height: calc(100vh - 68px);
                   
                }
                
                
                
                
                
                /* Features */
                
                
                
                 .main-title .para::after{
                    content: "";
                    position: absolute;
                    bottom: -60%;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    width: 7.5rem;
                    background-color: var(--bright-teal-color);
                }
                
                
                
                .feat .icons-handler svg{
                left: 50%;
                transform: translateX(-50%);
                bottom: 10%;
                }
                
          
                
                
                .fs-large{
                    font-size: 12rem;
                  }

                .h-large{
                    height: 12.5rem;
                 }

                
               
                
                
                
                
                
                
                
                /* Our Work Section */
                
           
                
                /* .our-work ul{
                
                } */
                 
                .our-work ul li{
                border-radius: 0.8rem;
                padding: 0.5rem 1rem;
                font-weight: 500;
                cursor: pointer;
                }
         
                .our-work ul li.active, .our-work ul li:hover{
                    background-color: var(--red-color);
                    color: var(--yellow-color);
                    
                }
                
                .our-work .row .box{
                    overflow: hidden;
                    padding: 5px;
                    background-color: white;
                }
                
                .our-work .row .box::after{
                content: attr(data-image);
                position: absolute;
                background-color:#33d1cc94;
                width:calc(100% - 10px );
                height: calc(100% - 10px );
                top: 5px;
                left: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: bold;
                font-size: 1.5rem;
                transition: 0.3s;
                transform: translateX(calc(-100% - 5px) );
                
                }
                
                .our-work .row .box:hover:after{
                transform: translateX(0);
                }
                
                
       
                
                
            
                /* Subscribe Section */
                
            
                
                .subscribe input[type="email"]{
                    border: none;
                    border-bottom: 1px solid white;
                }
                .subscribe input[type="email"]::placeholder{
                    color: white;
                    text-transform: capitalize;
                }
                .subscribe input[type="email"]:focus{
                    outline: none;
                    
                }
       
                
                
                /* Footer */
                
 
                
                
                    .links ul li{
                        padding: 0.3rem;
                    }
                
                
                
                    .footer .contact ul svg {
                        width: 1.25rem;
                        height: 1.25rem;
                      }
                       .facebook {
                        background-color: #1877f2;
                      }
                       .twitter {
                        background-color: #1da1f2;
                      }
                       .linkedin {
                        background-color: #0077b5;
                      }
                       .youtube {
                        background-color: #ff0000;
                      }
